/*----------------------------------------*/
/* 16. Contact Form CSS
/*----------------------------------------*/
.kiosk-blog-input input {
  height: 45px;
  padding: 0 15px;
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
  margin-bottom: 30px;
  float: left;
  color: #888;
}
.contact-content, .contact-form {
  padding-top: 30px;
}
.contact-content i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #333;
  border-radius: 50%;
  margin-top: 0px !important;
  margin-right: 15px !important;
}
.address-subject input {
  width: 100%;
}

.kiosk-message textarea {
  width: 100%;
  height: 220px;
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
  padding: 15px;
}

.footer-content.kiosk-submit {
  margin-top: 0;
}

.contact-form p.success,
.contact-form p.error {
  color: green;
  font-size: 16px;
}

.contact-form p.error {
  color: red;
}

.kiosk-blog-input input::-webkit-input-placeholder {
  color: #888;
}

.kiosk-blog-input input::-moz-input-placeholder {
  color: #888;
}

.kiosk-blog-input input::-ms-input-placeholder {
  color: #888;
}

.kiosk-message textarea::-webkit-input-placeholder {
  color: #888;
}
#map{
  height: 400px;
}