/*----------------------------------------*/
/* 18. Home-2 CSS
/*----------------------------------------*/
.owl-carousel .owl-dot {
  width: 17px;
  height: 11px;
  background: #d8d8d8;
  margin: 0 5px;
  display: inline-block;
  margin-top: 30px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.owl-carousel .owl-dot.active{
  background: #333;
  width: 28px;
}
.kiosk-top-active .owl-nav div{
  display: none !important;
}
.home2-slider {
  text-align: center;
  position: relative;
}