/*----------------------------------------*/

/* 20. Parallax CSS
/*----------------------------------------*/

.parallax-bg {
  position: relative;
  z-index: 1;
}

.parallax-bg:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
}

.parallax-bg2 {
  position: relative;
  z-index: 1;
}

.parallax-bg2:before {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
}

.parallax-area {
  background: #f6f6f6;
  height: 500px;
}

.parallax-left:before {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
}

.parallax-left {
  z-index: 1;
  height: 500px;
  background: rgba(0, 0, 0, 0) url("../../img/slider/pillow.jpg") no-repeat scroll bottom center / cover;
}

.parallax-right:before {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
}

.parallax-right {
  z-index: 1;
  position: absolute;
  height: 500px;
  width: 100%;
  background: rgba(0, 0, 0, 0) url("../../img/slider/sheet.jpg") no-repeat scroll bottom center / cover;
}

.purchase-area {
  background: rgba(0, 0, 0, 0) url("../../img/slider/3.jpg") no-repeat scroll bottom center / cover;
}

.purchase-area a {
  padding: 15px 50px;
  font-size: 20px;
  border-radius: 30px;
  background: #444;
  border: 1px solid #ccc;
}

.purchase-area h2 {
  color: #fff;
}

.parallax-area .col-md-6 {
  padding-left: 0px;
  padding-right: 0px;
}

.parallax-content {
  color: #fff;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.parallax-content h3 {
  color: #fff;
  font-size: 35px;
  margin-bottom: 25px;
}

.parallax-content p {
  margin-bottom: 30px;
}

.parallax-content a {
  padding: 15px 50px;
  font-size: 20px;
  border-radius: 30px;
  background: #444;
  border: 1px solid #ccc;
}

.form-control {
  border-radius: 0px;
  background: #f6f6f6;
  height: 50px;
}

textarea {
  height: 160px !important;
}

.tab-content.jump>.tab-pane.active {
  display: block;
  height: auto;
  opacity: 1;
  overflow: visible;
}

.tab-content.jump>.tab-pane {
  display: block;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.mobile-menu nav ul {
  display: none;
}