/*----------------------------------------*/
/* 10. Single Product CSS
/*----------------------------------------*/
.thumb-menu.nav a {
}

.thumb-menu.nav a.active {
}

.kiosk-product-details .tab-content img,
.kiosk-product-thumb .thumb-menu div img {
  width: 100%;
  border: 1px solid #ebebeb;
}

.fancybox-thumbs > ul > li {
  height: 120px;
}

.kiosk-product-thumb {
  margin-top: 15px;
}

.product-header {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
}
.head-h3 {
  font-size: 28px;
}
.rating {
  margin-right: 10px;
}

.rating i,
.review-list i {
  color: #f9ba48;
  font-size: 16px;
  line-height: 20px;
  padding-right: 8px;
}

.rating-feedback a {
  text-transform: capitalize;
  margin: 0 5px;
  display: inline-block;
}

.rating-feedback a:hover {
  color: #333;
}

.pro-ref span {
  display: inline-block;
  margin-right: 5px;
}

.pro-ref span.in-stock {
  margin-right: 15px;
  font-weight: 400;
}
.box-quantity input {
  background: #fff;
  width: 65px;
  padding: 5px;
  height: 35px;
  border: 1px solid #ebebeb;
  margin-right: 15px;
  text-align: center;
}

.add-cart {
  background: #333 none repeat scroll 0 0;
  border-color: #333;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  height: 35px;
  line-height: 36px;
  padding: 0 10px;
  text-align: center;
  text-transform: capitalize;
  width: 117px;
}

.add-cart:hover,.add-cart:focus {
  opacity: 0.8;
  color: #fff;
}

.product-link {
  border-top: 1px solid #ebebeb;
  padding-top: 10px;
  margin-top: 5px;
}
.product-link li {
  display: inline-block;
}
.product-link li a {
  background-color: #333;
  border: 1px solid #e3e3e3;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  padding: 13px 15px;
  font-size: 16px;
  vertical-align: middle;
  text-transform: capitalize;
  display: inline-block;
  height: 40px;
  padding: 0 15px;
  line-height: 40px;
}
.product-link li a:hover {
  background: #fff none repeat scroll 0 0;
  border-color: #333;
  color: #333;
}
.border-bottom {
  border-bottom: 1px solid #ddd;
}
.kiosk-thumb-header li {
  display: inline-block;
  background: #fff;
}

.kiosk-thumb-header li a {
  font-weight: 500;
  font-size: 15px;
  color: #333;
  background: #f0f0f0;
  border: 1px solid #ebebeb;
  padding: 10px 20px;
  display: inline-block;
  text-transform: uppercase;
}

.tab-content.thumb-content {
  padding: 25px;
  margin-top: -1px;
}

.kiosk-thumb-header li a.active {
  background: #333;
  color: #fff;
  border-bottom-color: #fff;
}

.tab-list-item {
  margin: 10px 0 0 35px;
}

.tab-list-item li {
  list-style: inherit;
}

.review-mini-title {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.review-list li {
  text-align: left;
}

.review-list li > span {
  font-size: 15px;
  width: 75px;
  display: inline-block;
  font-weight: bold;
}

.review-list li label span {
  font-weight: 500;
}

.review-list li label {
  font-size: 13px;
  position: relative;
  left: 120px;
}
.review-list li label a:hover{
  color: #333;
}
.review-title {
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 20px;
  padding-top: 15px;
}

.review-title span {
  font-weight: 500;
}

.riview-field input,
.riview-field textarea {
  border: 1px solid #ebebeb;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 50%;
}

.riview-field label {
  font-weight: 500;
  color: #363f4d;
  font-size: 14px;
}

.btn-submit {
  background: #f2f2f2;
  border: 1px solid #cdcdcd;
  color: #363f4d;
  padding: 8px 15px;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 4px;
}

.btn-submit:hover {
  background: #333;
  border-color: #333;
  color: #fff;
}
.related-product .group-title{
  margin-bottom: 30px;
  background: #f6f6f6;
}
.team-progress
{
  width: calc(100% - 120px);
  margin-left: 20px;
}

.color-menu img {
    width: 30px;
    border-radius: 50%;
}

.color-menu a.active img {
    border: solid 2px #032324;
    padding: 2px;
}